.blog-post {
  display: flex;
  flex-wrap: nowrap;
  article {
    width: 650px;
    max-width: 100%;
    margin-right: auto;
    color: #161616;
    font-family: $serif-font;
  }
  .blog-info {
    border-top: 1px solid #BDBDBD;
    border-bottom: 1px solid #BDBDBD;
    padding: 10px 0px;
    margin: 0 20px 30px 0;
  }
  .cat {
    display: inline;
    text-transform: uppercase;
    font-family: $serif-font;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1.8px;
    color: #161616;
    margin-right: -5px;
    &:last-of-type { margin-right: unset; }
  }
  .datetime {
    display: inline;
    padding-left: 8px;
    border-left: 1px solid $light-yellow;
    margin-left: 8px;
    letter-spacing: 1px;
  }
  .title {
    padding-top: 15px;
    // padding-bottom: 5px;
    font-size: 36px;
    font-family: $serif-font;
    line-height: 1.3;
    letter-spacing: 1px;
  }
  .outer-hero { // because sometimes there's going to be an overflow :blushes:
    margin-right: -150px;
    width: calc(100% - 450px); // that's 650 + 50 margin - 150 of the right part of the grid
    height: calc(100vh - 60px); // that's the height of the screen - top margin
    background: $white;
    .hero {
      width: 100%;
      height: 100%;
      background: center / cover no-repeat;
      opacity: .5;
      transition: ease opacity .2s;
      &:hover { opacity: 1; }
    }
  }
  .content {
    h1, h2, h3, h4, h5, h6 {
      margin-top: 30px;
    }
    h4 {
      font-size: 32px;
      font-weight: 900;
    }
    p {
      padding-bottom: 28px;
    }
    ol, ul {
      padding: 0 20px 28px;
      margin-top: -10px;
    }
    li {
      list-style: unset;
      list-style-position: inside;
    }
    dl {
      padding-bottom: 28px;
    }
    dt {
      color: $light-yellow;
      font-weight: 700;
    }
    dd {
      margin-left: 10px;
      // font-style: italic;
      padding-bottom: 5px;
      &:before {
        content: '';
        display: inline-block;
        height: 0;
        border: solid transparent 5px;
        border-left: solid $light-yellow 8px;
        border-radius: 50%;
        padding-right: 5px;
      }
    }
    hr {
      border: none;
      border-top: dashed $cyan;
      margin: 0 35px 15px 20px;
    }
    blockquote {
      border-left: solid 4px $light-yellow;
      margin-bottom: 28px;
      padding: 10px 20px;
      p {
        font-family: $font-fam;
        font-weight: 500;
        font-size: 24px;
        padding-bottom: 0;
      }
    }
  }
}

.all-posts {
  .card {
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;
    text-decoration: none !important;
    padding: 0 30px 60px;
  }
  .cats {
    text-transform: uppercase;
    font-family: $serif-font;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1.8px;
    .cat {
      display: inline;
    }
    // &:last-of-type { margin-right: 20px; }
  }
  .info {
    max-width: 100%;
    margin-left: 20px;
    padding: 60px 0;
    h2 {
      font-size: 34px;
      letter-spacing: 0.5px;
    }
    p {
      width: 400px;
    }
  }
  .image {
    width: calc(300px);
    background: center / cover no-repeat;
  }
}

@media (max-width: 800px) {
  .blog-post {
    .title { font-size: 28px; }
    .hero { margin-right: unset; }
  }
}
@media (max-width: 650px) {
  .all-posts .card {
    margin-left: -50px;
    .image {
      min-width: 130px;
      max-width: 130px;
    }
  }
}
@media (max-width: 600px) {
  .inner .all-posts p {
    width: unset;
  }
}
@media (max-width: 400px) {
  .all-posts .card {
    border: dashed 2px $cyan;
    padding-bottom: unset;
    margin-bottom: 20px;
    margin-left: unset;
    .image {
      display: none;
    }
  }
}


/*
highlighter
*/
.highlighter-rouge {
  font-family: monospace;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.4px;
  // color: #1a1a1a;
  color: $dark-red;
}
.highlight {
  font-family: monospace;
  font-size: 14px;
  letter-spacing: -0.4px;
  padding: 10px 20px;
  margin-right: 20px;
  background-color: #ececec;
  overflow: auto;
  border-left: solid 4px $light-cyan;
  width: 110%;
  margin-bottom: 28px;
}
.highlight .hll { background-color: #ffffcc }
.highlight .c { color: #aaaaaa; font-style: italic } /* Comment */
.highlight .err { color: #F00000; background-color: #F0A0A0 } /* Error */
.highlight .k { color: $light-cyan } /* Keyword */
.highlight .cm { color: #aaaaaa; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #4c8317 } /* Comment.Preproc */
.highlight .c1 { color: #aaaaaa; font-style: italic } /* Comment.Single */
.highlight .cs { color: $light-cyan; font-style: italic } /* Comment.Special */
.highlight .gd { color: $cyan } /* Generic.Deleted */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: $cyan } /* Generic.Error */
.highlight .gh { color: $dark-bg-blue; font-weight: bold } /* Generic.Heading */
.highlight .gi { color: #00aa00 } /* Generic.Inserted */
.highlight .go { color: #888888 } /* Generic.Output */
.highlight .gp { color: #555555 } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.highlight .gt { color: $cyan } /* Generic.Traceback */
.highlight .kc { color: $light-cyan } /* Keyword.Constant */
.highlight .kd { color: $light-cyan } /* Keyword.Declaration */
.highlight .kn { color: $light-cyan } /* Keyword.Namespace */
.highlight .kp { color: $light-cyan } /* Keyword.Pseudo */
.highlight .kr { color: $light-cyan } /* Keyword.Reserved */
.highlight .kt { color: #00aaaa } /* Keyword.Type */
.highlight .m { color: $light-green; } /* Literal.Number */
.highlight .s { color: $light-yellow } /* Literal.String */
.highlight .na { color: #1e90ff } /* Name.Attribute */
.highlight .nb { color: #00aaaa } /* Name.Builtin */
.highlight .nc { color: #00aa00; text-decoration: underline } /* Name.Class */
.highlight .no { color: $cyan } /* Name.Constant */
.highlight .nd { color: #888888 } /* Name.Decorator */
.highlight .ni { color: #800000; font-weight: bold } /* Name.Entity */
.highlight .nf { color: #00aa00 } /* Name.Function */
.highlight .nn { color: #00aaaa; text-decoration: underline } /* Name.Namespace */
.highlight .nt { color: #1e90ff; font-weight: bold } /* Name.Tag */
.highlight .nv { color: $cyan } /* Name.Variable */
.highlight .ow { color: $light-cyan } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mf { color: $light-green; } /* Literal.Number.Float */
.highlight .mh { color: $light-green; } /* Literal.Number.Hex */
.highlight .mi { color: $light-green; } /* Literal.Number.Integer */
.highlight .mo { color: $light-green; } /* Literal.Number.Oct */
.highlight .sb { color: $light-yellow } /* Literal.String.Backtick */
.highlight .sc { color: $light-yellow } /* Literal.String.Char */
.highlight .sd { color: $light-yellow } /* Literal.String.Doc */
.highlight .s2 { color: $light-yellow } /* Literal.String.Double */
.highlight .se { color: $light-yellow } /* Literal.String.Escape */
.highlight .sh { color: $light-yellow } /* Literal.String.Heredoc */
.highlight .si { color: $light-yellow } /* Literal.String.Interpol */
.highlight .sx { color: $light-yellow } /* Literal.String.Other */
.highlight .sr { color: $light-green; } /* Literal.String.Regex */
.highlight .s1 { color: $light-yellow } /* Literal.String.Single */
.highlight .ss { color: $light-cyan } /* Literal.String.Symbol */
.highlight .bp { color: #00aaaa } /* Name.Builtin.Pseudo */
.highlight .vc { color: $cyan } /* Name.Variable.Class */
.highlight .vg { color: $cyan } /* Name.Variable.Global */
.highlight .vi { color: $cyan } /* Name.Variable.Instance */
.highlight .il { color: $light-green; } /* Literal.Number.Integer.Long */