
//Index Expanded Footer
.footer-white-bg { background-color: #fff; width: 100%; z-index: 2;}
.main-footer {
  z-index: 2;
  margin: 0 auto;
  padding: 30px 0 30px;
  width: 1280px;
  max-width: 100%;
  background-color: $bg-color;
  // padding: 30px 30px 50px 30px;
  position: relative;
  text-align: left;
  .cont {
    height: 100%;
    width: 1100px;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .cont {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: "b c p l" "b c p l" "b c p l" "b c p l";
    column-gap: 10px;
  }
  .b { grid-area: b; }
  .p { grid-area: p; }
  .c { grid-area: c; }
  .l { grid-area: l; }
  h3 {
    color: $border-color;
    font-size: 14px;
    width: 123px;
  }
  p {
    font-size: 14px;
    font-weight: 500;
    width: 133px;
  }
  .block {
    display: flex;
    // flex-wrap: nowrap;
    min-width: 200px;
  }
  .footer-child {
    // flex-grow: 1;
    // padding-left: 5%;
    padding: 0 10%;
    height: 100%;
    min-width: 100px;
    border-right: solid 2px $border-color;
    &:last-of-type {
      border-right: none;
    }
    p {
      color: $p-dark-color;
    }
    a:link, a:visited, a:hover {
      color: $link-dark-color;
      font-weight: 300;
    }
  }
  .footer-vert {
    width: 2px;
    margin: -1px;
    height: 100%;
    background-color: $border-color;
  }

}

//Every-page Footer
.footer {
  display: none;
  position: relative;
  z-index: 99;
  font-size: 10px;
  color: $bg-color;
  text-align: left;
  padding: 10px 25px;
  border-top: solid 5px $light-yellow;
  
  /* was #3fb0accc */
  background:
    linear-gradient($border-color, $border-color),
    url(/assets/images/nav-gradient.jpg);
  background-position: right;
}


@media (max-width: 800px) {
  .main-footer {
    .cont {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-areas: "b c" "b c" "b c" "b c" "p l" "p l" "p l" "p l";
    }
    .footer-child.c {
      border-right: none;
      &:after {
        content: '';
        padding-top: 10px;
        margin-bottom: 10px;
        display: block;
        width: 70%;
        border-bottom: solid 2px $border-color;
      }
    }
    .footer-child.b:after { 
      content: '';
      padding-top: 10px;
      margin-bottom: 10px;
      display: block;
      width: 70%;
      border-bottom: solid 2px $border-color; 
    }
  }
  .blog-post .spacer {
    width: 650px;
    font: 400 18px/1.8 $font-fam !important;
  }
  .contact {
    .text-left {
      margin-left: auto;
      font-size: 14px;
    }
  }
}