<div class="footer-white-bg">
  <div class="main-footer">
    <div class="cont">
      <div class="b footer-child">
        <h3>BENJI</h3>
        <p><a href="/blog">        blog</a></p>
        <p><a href="/resume">        resume</a></p>
        <p><a href="/portfolio#news"> news</a></p>
      </div>
      <div class="c footer-child">
        <h3>CODE</h3>
        <p><a href="/portfolio#code">                     portfolio</a></p>
        <p><a href="http://github.com/benjithaimmortal">  github</a></p>
        <p><a href="http://codepen.io/benjithaimmortal">  codepen</a></p>
      </div>
      <div class="p footer-child">
        <h3>PHOTOGRAPHY</h3>
        <p><a href="/photos"> portfolio</a></p>
        <p><a href="/contact">contact</a></p>
      </div>
      <div class="l footer-child">
        <h3>LICENSE</h3>
        <p>all rights reserved</p>
        <p>copyright &copy;	2020</p>
        <p>Benjamin Kostenbader</p>
      </div>
    </div>
  </div>
</div>
<footer class="footer">
  made with love by Benji &hearts;
</footer>