<nav>

  <a href="{{ site.baseurl }}/index.html" class="navbar-site-emblem">
    <i class="fa fa-behance-square fa-lg"></i>nji
  </a>
  <!-- If PC/Large Resolution -->
  <div class="big-nav">
    <div class="nav-links"><a href="{% link blog.html %}">     Blog</a></div>
    <div class="nav-links"><a href="{% link portfolio.html %}">Portfolio</a></div>
    <div class="nav-links"><a href="{% link resume.html %}">   Resume</a></div>
    <div class="nav-links"><a href="{% link contact.html %}">  Contact</a></div>
  </div>
  
</nav>



  <!-- If Mobile/Tablet -->
  <label class="dropdown">
    <input type="checkbox" class="invisicheck" name="" id="pagestopper" style="display: none;">
    <div class="dropdown-btn" id="">
      <span></span><span></span><span></span>
    </div>
    <ul class="dropdown-nav">
      <!-- <div class="fa fa-align-justify fa-lg dropdown-nav"></div> -->
      <!-- <li class="drop-btn"><a href="{% link index.html %}">    Home</a></li> -->
      <li class="drop-btn"><a href="{% link blog.html %}">    Blog</a></li>
      <li class="drop-btn"><a href="{% link portfolio.html %}">Portfolio</a></li>
      <li class="drop-btn"><a href="{% link resume.html %}">      Resume</a></li>
      <li class="drop-btn"><a href="{% link contact.html %}">    Contact</a></li>
    </ul>
  </label>