---
layout: base
title: Blog
---
<section class='all-posts'>
  <!-- paginator.posts was previously site.posts -->
  {% for post in paginator.posts %}
  <a href="{{ site.baseurl }}{{ post.url }}" class='card'>
    <div class='image' style="background-image: url({{ site.baseurl }}/assets/images/{{ post.hero }})"></div>
    <div class='info'>
      <!-- <div class='cats'>[
        {% assign categories = post.categories %}
        {% for category in categories %}
          <div class='cat'>{{category}}</div>
          {% unless forloop.last %}, {% endunless %}
        {% endfor %}]
      </div> -->
      <h2>{{ post.title }}</h2>
      <p>{{ post.excerpt }}</p>
    </div>
  </a>
  {% endfor %}
</section>